@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: sans-serif;
  }

/**
* Remove the margin in all browsers.
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    background-image: url(./images/paul-hanaoka-XypC0Hi4vhs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.dark-text, .dark-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    
}

.dark-text {
    position: relative;
    top: 30vh;
    height: 15vh;
}

.dark-text > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    font-family: 'Norse-Bold';
}


.image-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 5px;
}

.image-footer > a {
    color: white
}

.right {
    display: flex;
    flex-direction: column;
    width: 67vw;
    background-color: white;
}

.slogan, .signUpForm, .signUpButton {
    height: 33.33vh;
    display: flex;
    padding-left: 5%;
    padding-right: 20%;
}

.slogan, .signUpButton {
    background-color: rgba(240, 236, 236, 0.87);
}

.slogan {
    align-items: flex-end;
}

.signUpForm {
    align-items: flex-start;
    padding-top: 5%;
    flex-direction: row;
}

.signUpButton {
    align-items: flex-start;
    padding-top: 2.5%;
}

.firstCol, .secondCol {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.secondCol {
    padding-left: 10vw;
}

.firstCol > *, .secondCol > * {
    padding: 6px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 20px;
    border: 1px solid #596D48;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
.signUpMsg > p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

.signUpLink {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 200px;
    height: 24px;
}

input:focus {
    border: 1px solid rgb(58, 185, 228);
    border-radius: 4px;
    outline: none;
    box-shadow: 4px 2px rgba(0, 0, 0, .2);
}

input:invalid {
    border: 1px solid rgb(228, 64, 58);
    border-radius: 4px;
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
    margin: 2px;
}