@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Norse-Bold', sans-serif;
  }

/**
* Remove the margin in all browsers.
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    background-image: url(./images/paul-hanaoka-XypC0Hi4vhs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.dark-text, .dark-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    
}

.dark-text {
    position: relative;
    top: 25vh;
    height: 15vh;
}

.dark-text > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}


.image-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 5px;
}

.image-footer > a {
    color: white
}

.right {
    display: flex;
    justify-content: center;
    width: 80vw;
}